@use "../../../styles/abstracts/variables" as *;

.modalBackground {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  position: absolute;
}

.formContainer {
  position: relative;
  width: 400px;
  height: auto;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.80);
  color: rgba(0, 0, 0, 0.85);
  z-index: 101;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;

  &__closeModal {
    width: 32px;
    height: 32px;
    position: relative;
    left: 88%;
    transition: transform 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__error {
    color: red;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    bottom: auto;
  }

  &__form {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;

    &__title {
      font-size: 24px;
      font-weight: 600;
    }

    input {
      width: 200px;
      height: 35px;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
    }

    button {
      width: max-content;
      height: 40px;
      padding: 0 10px 0 10px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        cursor: pointer;
      }
    }
  }
}