@use '../../styles/abstracts/variables' as *;

.userContainer {
  position: relative;
  width: $breakpoint-xl;
  height: auto;
}

.userAvatar {
  width: 128px;
  height: 128px;
}

.userName {
  font-size: 20px;
  font-weight: 500;
}

.buttonsContainer {
  width: max-content;
  height: max-content;
  position: relative;
  display: flex;
  margin-bottom: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;

  button {
    &:hover {
      cursor: pointer;
    }
  }
}