@use "../../../styles/abstracts/variables" as *;

li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  border: 1px solid $color-grey-2;
  border-radius: $radius-md;
  overflow: hidden;
  background: $bg-color;
  box-shadow: $shadow-sm;
  margin-bottom: $space-md;
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  justify-content: flex-end;
}

.status {
  font-size: $font-size-sm;
  font-weight: 600;
  color: $color-white;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: $radius-sm;
}

/* Цвета статусов */
.inWork .topBar {
  background-color: $color-blue-1; 
}
.inWork .status {
  background-color: $color-blue-2;
}

.completed .topBar {
  background-color: $color-green-1;
}
.completed .status {
  background-color: $color-green-2;
}

.failed .topBar {
  background-color: $color-red-1;
}
.failed .status {
  background-color: $color-red-2;
}

.main {
  display: flex;
  flex: 1;
  gap: $space-md;
}

.content {
  padding: $space-md;
  flex: 1;
}

.title {
  font-size: $font-size-lg;
  font-weight: 600;
  margin: 0 0 $space-xs;
}

.deadline {
  color: $text-color-light;
}

.description {
  font-size: $font-size-md;
  margin: 0;
}

.actions {
  padding: $space-md;
  margin-top: auto;
}
