@use '../styles/abstracts/variables' as *;

$container-pad: clamp(12px, 3vw, 24px);

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f4f7f8;
}

/* ЕДИНЫЙ контейнер */
.container {
  max-width: $breakpoint-xl;
  width: 100%;
  margin: auto;
  padding: $space-sm;
}

/* HEADER */
.header {
  width: 100%;
  background-color: $color-dark-1;
  min-height: 72px;
  display: flex;
  align-items: center;
}

.headerInner {
  @extend .container;
  /* <-- одинаковая ширина */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  min-height: 72px;
  padding-inline: $container-pad;
}

/* CONTENT */
.content {
  @extend .container;
  /* <-- одинаковая ширина */
  flex: 1;
  margin-top: $space-md;
  margin-bottom: 50px;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: $color-grey-1;
}

.footerInner {
  @extend .container;
  /* <-- одинаковая ширина */
  padding: 0;
  display: grid;
  grid-template-columns: auto 380px;
  gap: $space-lg;


  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $space-lg;
    padding: $space-lg $space-sm;
    color: $color-grey-3;

    .info {
      h2 {
        text-transform: uppercase;
        margin-bottom: $space-lg;
      }

      p {
        margin-top: $space-xs;
      }

      a {
        font-weight: bold;
        color: $color-yellow-1;
        text-decoration: none;
        transition: color .2s ease-out;

        &:hover {
          color: $color-yellow-2;
        }
      }
    }

  }


  .contacts {
    background-color: $primary-color;
    padding: $space-lg;
    color: $text-color-inverse;

    h4 {
      font-size: $font-size-xl;
      text-transform: uppercase;
      padding-bottom: $space-xs;
      border-bottom: 2px solid $color-white;
    }

    ul {
      padding: $space-sm $space-lg;
      display: flex;
      flex-direction: column;
      gap: $space-xs;
    }

    a {
      color: $text-color-inverse;
      text-decoration: none;
      font-size: $font-size-lg;
      transition: color .2s ease-out;

      &:hover {
        color: $color-yellow-1;
      }
    }

    p {
      text-transform: uppercase;
      text-align: right;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 0;
    .contacts {
      padding: $space-lg $space-sm;
    }
  
  }
}